<!doctype html>
<html lang="es">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% block google_analitycs %}
        {% include '@FrontAnalytics/include/common/google_analytics.html.twig' %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="{{ asset('bundles/frontcore/css/styles.css') }}" rel="stylesheet" crossorigin="anonymous"/>
    {% endblock %}

    <title>{% block title %}{{ title|default|trans|raw }} - {{ 'site_title'|trans  }} {% endblock %}</title>
</head>
<body>

{% block header %}
    {% include '@FrontCore/include/common/header.html.twig' %}
{% endblock %}

<main role="main" class="container">

    {% include '@FrontCore/include/notifications.html.twig' %}
    {% block before_body %}{% endblock %}
    {% block body %}{% endblock %}
    {% block after_body %}{% endblock %}

</main>

{% block footer %}

    {% include '@FrontCore/include/common/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/frontcore/js/jquery-3.3.1.min.js') }}" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/frontcore/js/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/frontcore/js/bootstrap/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
