<li class="nav-item">
    <a class="nav-link" href="{{ url('front_core_private_assets') }}" title="{{ 'explore_assets'|trans({}, 'sections') }}">{{ 'explore_assets'|trans({}, 'sections') }}</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ url('front_core_private_assets') }}" role="button" aria-haspopup="true" aria-expanded="false">{{ front_core_security.getName() }}</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <p class="small text-center"> {{ 'last_visit_date'|trans({}, 'user') }}
            <br>{{ front_core_security.getLastVisitDate()|date('d/m/Y  h:i:s') }}</p>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url('front_core_private_home') }}" title="{{ 'your_summary_information'|trans({}, 'sections') }}">{{ 'your_summary_information'|trans({}, 'sections') }}</a>
        <a class="dropdown-item" href="{{ url('front_core_private_profile_data') }}" title="{{ 'profile_data'|trans({}, 'sections') }}">{{ 'profile_data'|trans({}, 'sections') }}</a>
        {% if parameter('front_core_vams_units_type_id') %}
            <a class="dropdown-item" href="{{ url('front_core_private_profile_stats') }}" title="{{ 'my_points'|trans({}, 'sections') }}">{{ 'my_points'|trans({'%units_name%': app.session.get('unit_name')}, 'sections') }}</a>
        {% endif %}
        <a class="dropdown-item" href="{{ url('front_core_private_my_purchases') }}" title="{{ 'my_purchases'|trans({}, 'sections') }}">{{ 'my_purchases'|trans({}, 'sections') }}</a>
        {% if front_core_security.isAdminRole() %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url('sonata_admin_dashboard') }}" title="{{ 'admin_dashboard'|trans({}, 'sections') }}">{{ 'admin_dashboard'|trans({}, 'sections') }}</a>
        {% endif %}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url('logout') }}" title="{{ 'logout'|trans({}, 'sections') }}">{{ 'logout'|trans({}, 'sections') }}</a>
    </div>
</li>
